.page {
  font-family: "inter", sans-serif;
  background-color: rgba(53, 95, 17, 0.684);
  color: rgb(217, 198, 180);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.body,
html {
  scroll-behavior: smooth;
}