.body {
/* background-color: rgb(9, 30, 1); 
background-image: 
    linear-gradient(rgba(229, 229, 243, 0.05) 1px, transparent 1px),
    linear-gradient(to right, rgba(229, 229, 243, 0.05) 1px, transparent 1px);
background-size: 56px 56px; */
 background-color: rgb(26, 79, 42); /* color base del degradado */
    background-image: 
        linear-gradient(rgba(229, 229, 243, 0.05) 1px, transparent 1px),
        linear-gradient(to right, rgba(229, 229, 243, 0.05) 1px, transparent 1px),
        linear-gradient(154deg,rgba(9, 30, 1, 1) 65%, rgba(19, 54, 8, 1) 86%, rgba(86, 110, 47, 1) 96%);
    background-size: 56px 56px, 56px 56px, 100% 100%;
}

.body,
html {
  scroll-behavior: smooth;
}

.page {
  font-family: "inter", sans-serif;
  color: rgb(217, 198, 180);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
